@import 'tailwindcss';

@font-face {
  font-family: "Sassoon";
  src: url("/sassoon-infant.otf") format("opentype");
}

body {
  margin: 0;
  font-family: "Sassoon", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
